<!--Namespace da classe de Modelo para esta view-->
@model IEnumerable<ChronosMVC.Models.VagaModel> 
<!--Inclua os TempData para Sucesso e Erro aqui, conforme exemplo na view de Autenticação-->

@{ViewBag.Title = "Vagas"; }<!--Título da página para o navegador-->

<h2>Vagas</h2><!--Título da página-->

<p> <!--Links apontando para views na mesma pasta-->

 @Html.ActionLink("Criar Nova Vaga", "Create") 
</p>
<table class="table">
 <tr><!--Títulos das colunas da tabela--> 
 <th>@Html.DisplayNameFor(model => model.idVaga)</th> 
 <th>@Html.DisplayNameFor(model => model.nomeVaga)</th> 
 <th>@Html.DisplayNameFor(model => model.descricaoVaga)</th>
 <th>@Html.DisplayNameFor(model => model.DataCriacao)</th>
 <th></th>
 </tr>
<!--Looping para escrever os dados na tabela-->

@foreach (var item in Model) 
 { 
 <tr>
 <td>@Html.DisplayFor(modelItem => item.idVaga)</td>
 <td><!--Coluna para Links/botões-->
 @Html.ActionLink("Editar", "Edit", new { id = item.idVaga } ) | 
 @Html.ActionLink("Detalhes", "Details", new { id = item.idVaga }) | 
 @Html.ActionLink("Deletar", "Delete", new { id = item.idVaga }) 
 </td>
 </tr>
 } 
</table>
