@model ChronosMVC.Models.CorporacaoModel



<h2>Dados da Corporação</h2>

<!-- Mini navegação -->
<div class="mini-navegacao mb-3">
    <a asp-action="MeusDados" asp-route-idCorporacao="@Model.idCorporacao" class="btn btn-link">Meus Dados</a>
    <a asp-action="CreateEnderecoCorporacao" asp-controller="Endereco" asp-route-idCorporacao="@Model.idCorporacao" class="btn btn-link">Endereço</a>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Informações Pessoais</h5>

        <p>
            <strong>Nome:</strong> @(Model.nomeCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Email:</strong> @(Model.emailCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Tipo Corporacção:</strong> @(Model.tipoCorporacao)
        </p>
        <p>
            <strong>CNPJ:</strong> @(Model.cnpjCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Telefone:</strong> @(Model.numeroCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Descrição:</strong> @(Model.descricaoCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Data de Acesso:</strong> @(Model.DataAcesso?.ToString("dd/MM/yyyy") ?? "Não disponível")
        </p>
        <div class="mb-3">
            <strong>Foto da Corporação:</strong><br />
            @if (Model.fotoPerfilCorporacao != null && Model.fotoPerfilCorporacao.Length > 0)
            {
                var base64Image = Convert.ToBase64String(Model.fotoPerfilCorporacao);
                <img src="data:image/png;base64,@base64Image" alt="Foto da Corporação" style="max-width: 200px; max-height: 200px;" />
            }
            else
            {
                <img src="~/images/default-profile.png" alt="Imagem padrão" style="max-width: 200px; max-height: 200px;" />
            }
        </div>
    </div>
</div>



<a asp-action="EditarDadosCorporacao" asp-route-idCorporacao="@Model.idCorporacao" class="btn btn-primary">Editar</a>

