@model ChronosMVC.Models.CorporacaoModel

<h2>Dados da Corporação</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Informações Pessoais</h5>

        <p>
            <strong>Email:</strong> @(Model.emailCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Data de Acesso:</strong> @(Model.DataAcesso?.ToString("dd/MM/yyyy") ?? "Não disponível")
        </p>
        <p>
            <strong>CNPJ:</strong> @(Model.cnpjCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Telefone:</strong> @(Model.numeroCorporacao ?? "Não disponível")
        </p>
        <p>
            <strong>Descrição:</strong> @(Model.descricaoCorporacao ?? "Não disponível")
        </p>
    </div>
</div>

<a href="@Url.Action("Editar", "Corporacao", new { id = Model.idCorporacao })" class="btn btn-primary">Editar</a>
