@page
@model ChronosMVC.Models.EgressoModel
@{
    ViewBag.Title = "Login Egresso";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<head>
    <link rel="stylesheet" href="~/css/Login.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<!-- Container principal de login -->
<div class="login-container">
    <div class="login-box">
        <h2>Área de Login Egresso</h2>
        <p class="login-subtitle">Bem-vindo de volta! Por favor, insira suas credenciais.</p>

        @using (Html.BeginForm("LoginEgresso", "Egresso", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="input-group">
                <label for="emailEgresso" class="input-label">Email</label>
                @Html.EditorFor(model => model.emailEgresso, new { htmlAttributes = new { @class = "input-field" } })
            </div>

            <div class="input-group">
                <label for="PasswordString" class="input-label">Senha</label>
                @Html.PasswordFor(model => model.PasswordString, new { @class = "input-field" })
            </div>

            <!-- Novo botão estilizado -->
            <button type="submit" class="styled-button">
                Entrar
                <div class="inner-button">
                    <svg id="Arrow"
                         viewBox="0 0 32 32"
                         xmlns="http://www.w3.org/2000/svg"
                         height="20px"
                         width="20px"
                         class="icon">
                        <defs>
                            <linearGradient y2="100%" x2="100%" y1="0%" x1="0%" id="iconGradient">
                                <stop style="stop-color:#FFFFFF;stop-opacity:1" offset="0%"></stop>
                                <stop style="stop-color:#AAAAAA;stop-opacity:1" offset="100%"></stop>
                            </linearGradient>
                        </defs>
                        <path fill="url(#iconGradient)"
                              d="M4 15a1 1 0 0 0 1 1h19.586l-4.292 4.292a1 1 0 0 0 1.414 1.414l6-6a.99.99 0 0 0 .292-.702V15c0-.13-.026-.26-.078-.382a.99.99 0 0 0-.216-.324l-6-6a1 1 0 0 0-1.414 1.414L24.586 14H5a1 1 0 0 0-1 1z"></path>
                    </svg>
                </div>
            </button>

            <div class="signup-link">
                <p><a href="/Egresso/CadastroEgresso">Não possui uma conta? Clique aqui para registrar-se!</a></p>
            </div>
        }
    </div>
</div>
