@using ChronosMVC.Models.Curriculo
@model ChronosMVC.Models.Curriculo.CurriculoModel
@{
    ViewBag.Title = "CurriculoView";
}

<div class="w-[800px] shadow-lg rounded-lg bg-white p-8">
    <!-- Cabeçalho com nome e detalhes básicos -->
    <header class="flex justify-between items-center mb-6">
        <div class="flex items-center">
            <img src="~/images/placeholder-profile.png" alt="Foto de Perfil" class="w-[100px] h-[100px] rounded-full object-contain" />
            <div class="ml-4">
                <h1 class="text-3xl font-title text-neutral-950">@Model.Egresso?.nomeEgresso</h1>
                <p class="text-sm text-neutral-400">@Model.Egresso?.emailEgresso</p>
            </div>
        </div>
        <div class="flex space-x-4">
            <!-- Links de redes sociais -->
            <a href="#" class="text-primary-950"><i class="fa-brands fa-facebook text-2xl"></i></a>
            <a href="#" class="text-primary-950"><i class="fa-brands fa-linkedin text-2xl"></i></a>
            <a href="#" class="text-primary-950"><i class="fa-brands fa-twitter text-2xl"></i></a>
        </div>
    </header>

    <!-- Contato e Habilidades -->
    <main>
        <section class="mb-6">
            <h2 class="text-2xl font-semibold text-neutral-950 mb-2">Contato</h2>
            <p class="text-neutral-600">Email: @Model.emailCurriculo</p>
            <p class="text-neutral-600">Telefone: @Model.telefoneCurriculo</p>
        </section>

        <section class="mb-6">
            <h2 class="text-2xl font-semibold text-neutral-950 mb-2">Habilidades</h2>
            <p class="text-neutral-600">@Model.habilidadesCurriculo</p>
        </section>

   
    </main>
</div>
